{% extends "base.html" %}


{% block no_bootstrap_content %}
    <div class="flex_basket">
    <h1>{{'Ваш текущий заказ:'}}</h1>
    <ul>
        {% for i in basket %}
            <li>Пицца "{{i.order}}" по цене {{i.price}}.00 руб.</li>
        {% endfor %}
    </ul>
    </div>
    <div class="flex_basket">
        <button onclick="redirectToUrl3()" class="button_pizza">Назад к выбору пиццы</button>
        <button onclick="redirectToUrl2()" class="button_pizza">Оформить заказ</button>
        <button onclick="redirectToUrl1()" class="button_pizza">Очистить корзину заказов</button>

            <script>
                 function redirectToUrl1() {
                 window.location.href = "{{ url_for('drop_basket_order_interface',  drop='drop') }}";
                 }
            </script>
            <script>
                 function redirectToUrl2() {
                 window.location.href = "{{ url_for('confirm_order_interface',  confirm='confirm') }}";
                 }
            </script>
            <script>
                 function redirectToUrl3() {
                 window.location.href = "{{ url_for('index') }}";
                 }
            </script>
    </div>
    <div class="flex_basket">
        <p>Общая сумма заказа {{all_price}}.00 руб</p>
    </div>
{% endblock %}

