<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Клиенты' }}</title>
    <div class="navigation">
            <div><a href="/">Пиццы</a></div>
            <div>
                <a href="/basket">Корзина</a>
             </div>
            <div>
                <a href="/login">Служебная</a>
             </div>
    </div>
</head>
<body>
    <h1>{{'Клиенты'}}</h1>
    <ul>
        {% for i in clients %}
            <li><a href="{{ url_for('get_client_interface', client_id=i.id_client) }}">{{ i.client_name }}</a></li>
            <li>{{ i.client_address }}</li>
            <li>{{ i.client_phone }}</li>
            <li></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to index</a>
</body>
</html>