{% extends "base.html" %}


{% block no_bootstrap_content %}
     <div class="flex_clients">
    <h1>Клиент -{{ client[0].client_name }}</h1>
     </div>
    <div class="flex_clients">
        <p>Доставка по адресу{{ client[0].client_address }}</p>
        <p>Телефон для связи {{ client[0].client_phone }}</p>
    </div>
    <ul class="flex_clients" >
    {% set ns = namespace(total_price=0) %}
    {% for i in client %}
        {% for j in i.order %}
            <p> Заказ от {{j.date}}</p>
            {% for k in j.client_order_list %}
                <p class ="client_order_margin"> {{k.order}} на сумму {{k.price}}.00 рублей </p>
                {% set ns.total_price = ns.total_price + k.price %}
            {% endfor %}
        {% endfor %}
    {% endfor %}


    </ul>
    <div class="flex_clients">
        <p class ="description">Общая сумма: {{ns.total_price}}.00 рублей</p>
     </div>
     <div class="flex_clients">
            <a href="{{ url_for('index') }}" >Вернуться на главную страницу</a>
    </div>
{% endblock %}