<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Клиенты' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="navigation">
            <div><a href="/">Пиццы</a></div>
            <div>
                <a href="/basket">Корзина</a>
             </div>
            <div>
                 {% if current_user.is_anonymous %}
                     <a href="{{ url_for('login') }}">Служебный вход</a>
                 {% else %}
                    <a href="{{ url_for('logout',  logout='logout') }}">Выйти</a>
                 {% endif %}
             </div>
            <div>
                 {% if current_user.is_anonymous %}
                     <p></p>
                 {% else %}
                    <a href="{{ url_for('get_clients_interface') }}">Клиенты</a>
                 {% endif %}
             </div>
    </div>
</head>
<body>
    <h1 class="basket">{{'Клиенты'}}</h1>
    <ul class="client_list" >
        {% for i in clients %}
            <p><a href="{{ url_for('get_client_interface', client_id=i.id_client) }}">
                {{ i.client_name }}, адрес {{ i.client_address }}, тел {{ i.client_phone }}</a></p>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}" class="button_client_exit">Вернуться на главную страницу</a>
</body>
</html>