{% extends "base.html" %}


{% block no_bootstrap_content %}
     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <h1 class="text-login">Оформление заказа</h1>
     <div class="flex_login">
          <div>
            <p class="flex_basket-child"> Пожалуйста, заполните все поля для оформления заказа</p>
              <p>{{ form.put_order() }}</p>

          </div>
          <div class="flex_basket-child">
               <p>
                    {{ form.usernameOrder.label }}<br>
                </p>
                <p >
                    {{ form.addressOrder.label }}<br>
                </p>
                <p >
                    {{ form.phoneOrder.label }}<br>
                </p>
          </div>
          <div class="flex_basket-child">
            <p>
                    {{ form.usernameOrder(size=32) }}
                </p>
                <p>
                    {{ form.addressOrder(size=32) }}
                </p>
                <p>
                    {{ form.phoneOrder(size=32) }}
                </p>
          </div>

     </div>
    </form>
{% endblock %}