<!DOCTYPE html>
<html>
<head>
    <title>{{'Оформление заказа'}}</title>
    <div class="navigation">
            <div><a href="/">Пиццы</a></div>
            <div>
                <a href="/basket">Корзина</a>
             </div>
            <<div>
                 {% if current_user.is_anonymous %}
                     <a href="{{ url_for('login') }}">Служебный вход</a>
                 {% else %}
                    <a href="{{ url_for('logout',  logout='logout') }}">Выйти</a>
                 {% endif %}
             </div>
            <div>
                 {% if current_user.is_anonymous %}
                     <p></p>
                 {% else %}
                    <a href="{{ url_for('get_clients_interface') }}">Клиенты</a>
                 {% endif %}
             </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <h1 class="basket">Оформление заказа</h1>
     <div class="form">
          <div>
            <p class="basket"> Пожалуйста, заполните все поля для оформления заказа</p>
              <p class="button_order">{{ form.put_order() }}</p>

          </div>
          <div>
               <p class="label">
                    {{ form.usernameOrder.label }}<br>
                </p>
                <p class="label">
                    {{ form.addressOrder.label }}<br>
                </p>
                <p class="label">
                    {{ form.phoneOrder.label }}<br>
                </p>
          </div>
          <div>
            <p class="form_label">
                    {{ form.usernameOrder(size=32) }}
                </p>
                <p class="form_label">
                    {{ form.addressOrder(size=32) }}
                </p>
                <p class="form_label">
                    {{ form.phoneOrder(size=32) }}
                </p>
          </div>

     </div>
    </form>
</body>
</html>