{% extends "base.html" %}


{% block no_bootstrap_content %}

     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <h1 class="text-login">Служебный вход</h1>
     <div class="flex_login">
         <div class="flex_basket-child">

                <p> Пожалуйста, введите логин и пароль для входа</p>
                  <p>{{ form.submit() }}</p>

          </div>
          <div class="flex_basket-child">
               <p>
                    {{ form.username.label }}<br>
                </p>
                <p>
                    {{ form.password.label }}<br>
                </p>
          </div>
          <div class="flex_basket-child">
            <p>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                </p>
                <p>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          </div>
     </div>
    </form>
{% endblock %}
